
  @font-face {
    font-family: 'iconfont';
    src: url('//storage.360buyimg.com/lcstatic/plugins/svg2font.eot'); /* IE9 */
    src: url('//storage.360buyimg.com/lcstatic/plugins/svg2font.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */,
		url('//storage.360buyimg.com/lcstatic/plugins/svg2font.woff2') format('woff2') /* chrome、firefox */,
		url('//storage.360buyimg.com/lcstatic/plugins/svg2font.woff') format('woff') /* chrome、firefox */,
		url('//storage.360buyimg.com/lcstatic/plugins/svg2font.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */,
		url('//storage.360buyimg.com/lcstatic/plugins/svg2font.svg#iconfont') format('svg') /* iOS 4.1- */;
  }

  .iconfont{
    font-family: 'iconfont';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon_7days::before {
    content: "\e975";
  }

  .icon_hour::before {
    content: "\e973";
  }