
  @font-face {
    font-family: 'svg2font';
    src: url('svg2font.eot'); /* IE9 */
    src: url('svg2font.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */,
		url('svg2font.woff2') format('woff2') /* chrome、firefox */,
		url('svg2font.woff') format('woff') /* chrome、firefox */,
		url('svg2font.ttf') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */,
		url('svg2font.svg#svg2font') format('svg') /* iOS 4.1- */;
  }

  .font_family{
    font-family: 'svg2font';
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }